/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6fcf5;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: 9.6rem;
  padding: 0 3.2rem;
  margin-bottom: 6.4rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.all-rec {
  font-size: 1.8rem;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited,
.nav-logo:link,
.nav-logo:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active,
.nav-logo:hover,
.nav-logo:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active,
.all-rec:hover,
.all-rec:active {
  background-color: #cf711f;
}
.header.sticky {
  position: fixed;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Additional styles for the sticky header */
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**************************/
/* HERO SECTION */
/**************************/

.food-img img {
  max-width: 100%;
  width: 100%;
  height: auto !important;
  object-fit: cover;
  border-radius: 1rem;
}

.section-hero {
  /* background-color: #fdf2e9; */
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  /* gap: 9.6rem; */
  align-items: center;
}

.food-img p {
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  text-align: center;
  font-weight: 500;
}

a {
  text-decoration: none !important;
  color: #333;
}

.food-img p:hover {
  color: #e67e22;
}

.food-img img {
  transition: all 0.3s;
  cursor: pointer;
}

.food-img img:hover {
  transform: scale(0.9);
}

/**************************/
/* SWEETS SECTION */
/**************************/

.cake {
  padding-top: 8rem;
}

.sweet-sec {
  background-color: #e6fcf5;
  border-radius: 1rem;
}

.recipes {
  margin-bottom: 0;
  padding-bottom: 9.6rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 3.2rem 6.2rem;
}

.sweets {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.6rem;
  /* margin-top: 8rem; */
  /* margin: 8rem auto 3rem auto; */
  padding: 6.4rem 3.2rem;
}

.delivered-imgs {
  display: flex;
}

.cake-imgs img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  margin-right: -2rem;
  border: 3px solid #c3fae8;
  transition: all 0.3s;
}

.cake-imgs img:last-child {
  margin: 0;
}

.cake-imgs img:hover {
  transform: scale(1.1);
  border: 3px solid #e67e22;
}

.cake-text {
  font-size: 3.2rem;
  font-weight: 600;
  cursor: pointer;
}

.cake-text:hover {
  color: #e67e22;
}

.salads {
  column-gap: 2.4rem;
  margin: 3.2rem 2.4rem;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  align-items: center;
}

.meals {
  padding-bottom: 3.2rem;
  margin-bottom: 6.4rem;
}

.last {
  border-radius: 0;
}
.meal {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/**************************/
/* TESTIMONIALS SECTION */
/**************************/

.testimonials-sec {
  background-color: #e6fcf5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 3.2rem;
  border-radius: 1rem;
}

.title-test {
  margin-bottom: 6.4rem;
}

.testimonials {
  padding-top: 8rem;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.testimonial {
  border: 1px solid #333;
  padding: 2.4rem;
  margin: 1.2rem;
  border-radius: 1rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**************************/
/* CTA SECTION */
/**************************/

.section-cta {
  /* top / right / bottom / left */
  /* padding: 9.6rem 0 12.8rem 0; */

  /* top / horizontal / left */
  padding: 8rem 0 6.4rem;
  margin: 8rem auto;
}

.cta {
  display: grid;
  /* 2/3 = 66.6% + 1/3 = 33.3% */
  grid-template-columns: 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;

  background-image: linear-gradient(to right bottom, #69a997, #88e8cb);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta .heading-secondary {
  /* color: #45260a; */
  color: #fdf2e9;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
  color: #fdf2e9;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: #fdf2e9;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.cta-form select {
  color: #aaa !important;
}

.scroll {
  width: 3rem;
  height: 3rem;
  display: none;
  position: fixed;
  right: 3rem;
  cursor: pointer;
  color: #888;
  /* padding-left: 1rem; */
}

.scroll-down {
  bottom: 5rem;
}

.scroll-up {
  bottom: 8rem;
}

.scroll:hover {
  color: #69a997;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  padding-top: 4.8rem;
}
.grid--footer {
  grid-template-columns: 1fr 1fr;
  padding: 4.8rem 3.2rem;
  border-top: 1px solid #eee;
  max-width: 130rem;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.contacts {
  margin-right: -5rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-link {
  display: flex;
  align-items: center;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
